.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.label {
    position: relative;
}

.main .submit button {
    background: #d82b2a;
}
.main .submit button:hover {
  box-shadow: 0 0 5px 1px grey;
}

/* animation for the text to float up */

.label .label-text {
    position: absolute;
    left: 15px;
    color: #7f8487;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* remove the input box styling */
.label input {
    border: solid 1.75px #9e9e9e9e;
    border-radius: 10px;
    background: none;
    height: 45px;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #7f8487;
}

/* once you click in the input the input width box animates */

.label input:focus {
    outline: none;
    border: 1.5px solid #5f9df7;
}

/* the text floats up and turns white */

.label input:focus + .label-text {
    background-color: white;
    padding: 0 0.2rem;
    color: #5f9df7;
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

/* the text floats up during form validation */

.label input:valid + .label-text {
    padding: 0 0.2rem;
    background-color: white;
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

.bi-eye-slash {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label-twin {
    position: relative;
}

/* animation for the text to float up */

.label-twin .label-text {
    position: absolute;
    left: 25px;
    color: #7f8487;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* remove the input box styling */
.label-twin input {
    border: solid 1.75px #9e9e9e9e;
    border-radius: 10px;
    background: none;
    height: 45px;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #7f8487;
}

/* once you click in the input the input width box animates */

.label-twin input:focus {
    outline: none;
    border: 1.5px solid #5f9df7;
}

/* the text floats up and turns white */

.label-twin input:focus + .label-text {
    background-color: white;
    padding: 0 0.2rem;
    color: #5f9df7;
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

/* the text floats up during form validation */

.label-twin input:valid + .label-text {
    padding: 0 0.2rem;
    background-color: white;
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
